INFURA_API_KEY=
GOERLI_RPC_URL=https://rpc.ankr.com/eth_goerli
# DEV wallet
# 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
PRIVATE_KEY=

# for PROD wallet
# should use other options (mnemonic path, keystores, trezor, ledger) here 
# https://book.getfoundry.sh/reference/forge/forge-script#wallet-options---raw

ETHERSCAN_API_KEY=

# goerli
KRYSTAL_SWAP_ROUTER=0xa0Af2A2ABD276843f65B8c117406Da9335F39364
